{{#each this}}
<li class="country-list__item">
   <img class="country-list__img" src="{{flag}}" alt="Flag" width="30px"> {{name}}
</li>
<li class="country-list__info">Capital: <span class="country-list__text">{{capital}}</span></li>
<li class="country-list__info">Populatione: <span class="country-list__text">{{population}}</span></li>

<li class="country-list__info"> 
   Languages:  <span class="country-list__text">{{#each languages}} {{name}} {{/each}}</span>
   </li>

{{/each}}